/*Katie Greenwood, 11.3.25, styles*/
body {font-family: Georgia, serif; background-color: #FDEFE4; color: #510219;}
main {text-align: left; width: 50%; padding: 10px; margin: auto; background-color: #FDF5F0; border: double #F1AA95;}
footer {text-align: center;}
header, nav {text-align: center; padding: 5px;}
#top {border: double #F1AA95; margin: auto; width: 35%; background-color: #FDF5F0;}
nav a {text-decoration: none;}
nav a:hover {color: #F8BC22;}
footer a {text-decoration: none;}
footer a:hover {color: #F8BC22;}
.images {width: 95%; height: auto;}